<div class="container-fluid">
    <app-navigation></app-navigation>
    <div class="container header-box">
      <h1 class="display-2 rellax" data-rellax-speed="-3">One Page Template</h1>
      <br>
      <h5 class="display-6 rellax" data-rellax-speed="-4">This is a simple one page application</h5>
    <!-- JavaScript(Typed.js) object -->
      <h5 class="display-6 rellax" data-rellax-speed="-4">Developed by <span class="typed-element"></span></h5>
    <!-- /JavaScript(Typed.js) object -->
    </div>
</div>
