// Colors

// Mixin
@mixin shadow {
  text-shadow: 3px 1px 5px rgb(0, 0, 0);
}

// Base
.container-fluid {
  background-color: #3B3F4B;
  color: #fff;
  min-height: 70px;
  padding: 80px;

  .left, .middle {

    p, a {
      margin-bottom: 0.4rem;
      @include shadow();
      font-size: 1.1rem;
    }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color : #9D9D9D;
      }
    }

    h4 {
      margin-left: 40px;
    }

    .icons {

      a {

        &:hover {
          color: #fff;
        }
      }

      i {
        transition: all 0.2s ease-in-out;
        font-size: 1.5rem;
        margin: 15px;

        &:hover {
          transform: scale(1.2);
          color: #fff;
        }

      }

    }
  }

  .left {
    border-right: solid 1px #fff;
  }

  .middle {
    padding-left: 100px;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      border: none;
      font-size: 1.3rem;
      font-weight: 600;

      &:focus {
        box-shadow: none;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  .modal-dialog{

    .modal-content{
      color: black;
      text-shadow: none;

      h4 {
        margin-left: 0;
      }

      p {
        text-shadow: none;
      }

      a {
        color: black;
        text-shadow: none;
        text-decoration: none;
        border: solid px black;

        &:hover {
          text-decoration: none;
          color: white;
          background-color: black;
          outline: none;
          box-shadow: none;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

  }
}




@media only screen and (max-width: 1090px){
  .container {

    .row {
      .middle {
        padding-left: 50px;
      }
    }
  }

}

@media only screen and (max-width: 1020px){
  .container {
    .row {
      .right {
        button {
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 890px){
  .container {
    .row {
      .middle {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px){
  .container {
    .row {
      .left {
        border-right: none;
      }
    }
  }
}
@media only screen and (max-width: 767px){
  .container {
    .row {
      text-align: center;
      .left {
        padding-bottom: 50px;
      }

      .middle {
        padding-bottom: 30px;
        h4 {
          margin-left: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}
