<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="left">
          <p>Long Causeway, City center</p>
          <p>Peterborough</p>
          <p>PE1 1NT</p>
          <p>United Kingdom</p>
          <br>
          <a href="#">Click here to see more of my Projects</a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="middle">
          <p>07526 784518</p>
          <p>Nerijus.turauskis@gmail.com</p>
          <br>
          <h4>Follow me:</h4>
          <div class="icons">
            <a href="https://www.facebook.com/NerijusTurauskis"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/in/nerijus-turauskis-252a2716a/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.pinterest.com/emkeris/"><i class="fab fa-pinterest-p"></i></a>
            <a href="https://github.com/Emkeris"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-2 right">
        <button type="button" class="btn btn-outline-light" id="back-to-top"><i class="fas fa-angle-double-up"></i> <span> To Top</span></button>
      </div>
    </div>
  </div>


<!--
  <div class="container-limit">


    <div class="right">
      <div class="arrow-top">
        <button mat-button type="reset">
            <i class="fas fa-angle-double-up"></i>
            <br>
            <span>Top</span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>No Copyrights</p>
    <p>Done by Nerijus Turauskis</p>
  </div>

</div> -->
