<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="left">
          <p>Long Causeway, City center</p>
          <p>Peterborough</p>
          <p>PE1 1NT</p>
          <p>United Kingdom</p>
          <br>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#Modal">
            See more of my works
          </button>

          <!-- Modal -->
          <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">Projects</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h4>Patatap-clone</h4>
                  <p>This is an interesting application basically made with some JavaScript ES5 and JS library. When you'll launch app you only will see black screen but with every button press of your keyboard, you will see and hear different element and sound. Every keystroke has its own color and sound attached.</p>
                  <a href="https://emkeris.github.io/Patatap-clone/" class="btn btn btn-outline-dark">Click to see</a>
                  <hr>
                  <h4>Yelp site</h4>
                  <p>This is fully working and deployed Site. It uses NodeJs as core backend, Expressjs npm (It helps a lot to simplify code), MongoDB (NoSQL DataBase). In other words, it's a good example of MEN stack done by me. Authentication, Log in, Registration, Editing, Deleting works.</p>
                  <a href="https://murmuring-fortress-40894.herokuapp.com/" class="btn btn btn-outline-dark">Click to see</a>
                  <h4>Elliott-Project</h4>
                  <p>Quite simple site, deployed on GitHub Pages, has fixed navigation, super responsive, and has some build in logic</p>
                  <a href="https://emkeris.github.io/elliott-project/" class="btn btn btn-outline-dark">Click to see</a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="middle">
          <p>07526 784518</p>
          <p>Nerijus.turauskis@gmail.com</p>
          <br>
          <h4>Follow me:</h4>
          <div class="icons">
            <a href="https://www.facebook.com/NerijusTurauskis"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/in/nerijus-turauskis-252a2716a/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.pinterest.com/emkeris/"><i class="fab fa-pinterest-p"></i></a>
            <a href="https://github.com/Emkeris"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-2 right">
        <button type="button" class="btn btn-outline-light" id="back-to-top"><i class="fas fa-angle-double-up"></i> <span> To Top</span></button>
      </div>
    </div>
  </div>


<!--
  <div class="container-limit">


    <div class="right">
      <div class="arrow-top">
        <button mat-button type="reset">
            <i class="fas fa-angle-double-up"></i>
            <br>
            <span>Top</span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>No Copyrights</p>
    <p>Done by Nerijus Turauskis</p>
  </div>

</div> -->
