<div class="container-fluid">
  <h2 class="text-center">our services</h2>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <img src="./assets/images/NodeJs.svg" alt="Nodejs" style="height: 150px;" class="ser1 rellax" data-rellax-speed="+2">
      <img src="./assets/images/Angular_logo.svg" alt="Angular" style="height: 150px;" class="ser2 rellax" data-rellax-speed="+4">
      <img src="./assets/images/MongoDb.png" alt="MongoDB" style="height: 150px;" class="ser3 rellax" data-rellax-speed="+7">
      <img src="./assets/images/Express.png" alt="ExpressJs" style="width: 250px;" class="ser4 rellax" data-rellax-speed="+3">
      <img src="./assets/images/Angular_logo.svg" alt="Angular" style="height: 150px;" class="ser5 rellax" data-rellax-speed="+4">

      <div class="card">
        <img src="./assets/images/MongoDb.png" class="card-img-top" alt="MongoDb">
        <div class="card-body">
          <h5 class="card-title">MongoDb</h5>
          <hr>
          <p class="card-text">MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemata. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License (SSPL).</p>
          <a href="#" class="btn btn-outline-success">Read more ...</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <img src="./assets/images/Angular_logo.svg" class="card-img-top" alt="Angular 7">
        <div class="card-body">
          <h5 class="card-title">Angular 7</h5>
          <hr>
          <p class="card-text">ngular (commonly referred to as "Angular 2+" or "Angular v2 and above") is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>
          <a href="#" class="btn btn-outline-danger">Read more ...</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <img src="./assets/images/Express.png" class="card-img-top express-img" alt="Express">
        <div class="card-body">
          <h5 class="card-title">ExpressJs</h5>
          <hr>
          <p class="card-text">Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It has been called the de facto standard server framework for Node.js.</p>
          <a href="#" class="btn btn btn-outline-dark">Read more ...</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <img src="./assets/images/NodeJs.svg" class="card-img-top angularAndNode-img" alt="Node.js">
        <div class="card-body">
          <h5 class="card-title">Node.js</h5>
          <hr>
          <p class="card-text">Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of a browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser.</p>
          <a href="#" class="btn btn-outline-success">Read more ...</a>
        </div>
      </div>
    </div>
  </div>
</div>
