<header>
  <div class="collapse" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4 collapseLeft">
          <h4 class="">About Me</h4>
          <p class="">Enthusiastic Front-end Developer with some skills in Web development. I am exceptionally
            flexible as well as a keen desire to improve and develop new skills. Love to learn more and
            more especially when I get chance to use my knowledge to make bigger contribution to the
            organisation. Excellent attention to details and high level of accuracy regarding quality and
            presentation of work.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4 collapseRight">
          <h4 class="">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/nerijus-turauskis-252a2716a/" class="text-white">Follow on LinkedIn</a></li>
            <li><a href="https://github.com/Emkeris" class="text-white">See more things on GitHub</a></li>
            <li><a href="https://www.facebook.com/NerijusTurauskis" class="text-white">Like on Facebook</a></li>
            <li><a href="mailto:nerijus.turauskis@gmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="./assets/images/Logo.png" alt="Compsnys Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <!-- burger -->
        <div class="wrapper">
          <div class="btn">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
        <!-- /burger -->
      </button>
    </div>
  </div>
</header>
