

// Colors

// Mixins
@mixin shadow {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

// Base

header {
  background-color: transparent;


  .container {

     .row {
      @include shadow();
      color: white;
     }
  }


  .navbar {
    padding: 10px 1rem;

    button {

      &:focus {
        outline: none;
      }
    }

  // active burger


}


.wrapper{
  position: absolute;
  //overflow: hidden;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%)
}

.btn{
  // background-color: #f00;
  // width: 100px;
  height: 90px;
}

.bar1, .bar2, .bar3{
	position: absolute;
  top: 20px;
  display: block;
  font-size: 6px;
  padding: 0;
  -webkit-appearance: none;
  //border: 2px solid;
  color: #fff;
  width: 60px;
  height: 10px;
  border-radius: 7px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transform: rotate(0deg);
}
.bar2{
	top:40px;
}
.bar3{
	top:60px;
}

.bar1.active{
	top:20px;
  -webkit-transform: rotate(-135deg);
  -webkit-transition: all 0.2s ease-in;
}
.bar2.active{
	left:100px;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in;

}
.bar3.active{
	top:30px;

  -webkit-transform: rotate(135deg);
  -webkit-transition: all 0.2s ease-in;
}



  // /active burger


  }

